
PORT=8000
NODE_ENV=development

# MongoDB connection 
MONGODB_URI=mongodb connection url

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloud name
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret

# JWT Tokens
ACCESS_TOKEN_SECRET=access token secret
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET= refresh token secret
REFRESH_TOKEN_EXPIRY=7d
REFRESH_TOKEN_EXPIRE_DAYS=7d

# Admin User
ADMIN_EMAIL=admin email
ADMIN_PASSWORD=admin password
ADMIN_PHONE_NUMBER=phone number
FIRST_NAME=first name of admin
LAST_NAME=last name of admin

CORS_ORIGIN=frontend URI for CORS